.button {
  width: 76.8px;
  height: 28px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 0 2px #888888;
  &:hover{
    box-shadow: 0 0 4px #888888;
  };
  &:focus{
    outline: none;
  };
  &:active{
    border: none;
  };
  &.primary{
    background-color: #0f83e6;
    color: #ffffff;
    box-shadow: 0 0 2px #0f83e6;
    &:hover{
      box-shadow: 0 0 4px #0f83e6;
    };
  };
  &.dangerous{
    background-color: #ee382e;
    color: #ffffff;
    box-shadow: 0 0 2px #ee382e;
    &:hover{
      box-shadow: 0 0 4px #ee382e;
    };
  };
}

